/*This imports the Raleway font from Google which I use as the primary font for the site.*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*Sets the margin of the whole page body to 0.*/
body {
    margin: 0;
}

/*Header resize for mobile view.*/
@media not all and (min-width: 480px) {
    .header {
        font-size: 1.5em;
    }
}

/*The page header styling is controlled here. This is simply the big "Rory Williams Doyle" bit on the homepage*/
.header {
    color: #FFFFFF;
    text-align: center;
    font-family: "Raleway", "Times New Roman", serif;
    font-size: 3em;
    padding-top: 1em;
    background-color: #ee6e73;
    height: 1.7em;
}

/*This section handles section text resizing for mobile.*/
@media not all and (min-width: 480px) {
    .general_text {
        font-size: 0.6em;
    }
}

/*Shrinks image for screens with a width less than 480px.*/
@media not all and (min-width: 480px) {
    .general_text img {
        width: 7.5em;
        height: 6em;
    }
}

/*These 3 blocks handle the styling of the "Welcome", "About Me" & "Experience" sections on the page.*/
.general_text {
    margin: 2em 5em auto 5em;
    font-size: 1.5em;
    font-family: "Raleway", "Times New Roman", serif;
    text-align: justify;
}

.general_text h2 {
    text-align: center;
}

.general_text h1 {
    text-align: center;
}

.avatar {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-image: url("../Images/Headshot_1.png");
    display: block;
    margin: 0 auto;
    width: 15em;
    height: 15em;
}

/*This block specifically handles the sizing of the message box in the PHP contact form.*/
textarea{
    width: 100%;
    height: 200px;
}

/*Resize Captcha for mobile.*/
@media not all and (min-width: 426px) {
    .g-recaptcha {
        transform:scale(0.55);
        transform-origin:0 0;
    }
}

.contact {
    margin: 5em;
}

/*The styling for the social media and contact footer.*/
.footer {
    margin: 0;
    float: bottom;
    color: #FFFFFF;
    text-align: center;
    font-family: "Raleway", "Times New Roman", serif;
    font-size: 1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    background-color: #ee6e73;
    height: 3em;
    width: 100%;
}

/*This block handles the custom error style for error messages.*/
.error {
    margin-top: 3em;
    text-align: center;
}
