/*This imports the Raleway font from Google which I use as the primary font for the site.*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*The styling for the social media and contact footer.*/
.footer {
    margin-top: 6em;
    float: bottom;
    color: #FFFFFF;
    text-align: center;
    font-family: "Raleway", "Times New Roman", serif;
    font-size: 1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    background-color: #ee6e73;
    height: 3em;
}

/*The styling for the experience section is handled in these 3 blocks. There is however the potential to merge this with
the bio CSS block.
 */
.experience {
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
    text-align: justify;
    font-size: 1.5em;
    font-family: "Raleway", "Times New Roman", serif;
}

.experience h1 {
    text-align: center;
}

.experience h2 {
    text-align: center;
}

/*The custom styling for the welcome section is handled in these two blocks as well as the image styling for my picture.
 */
.welcome img {
    display: block;
    margin: 0 auto;
    width: 15em;
    height: 12em;
    border-radius: 50%;
}

.welcome {
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1.5em;
    font-family: "Raleway", "Times New Roman", serif;
    text-align: justify;
}

/*The page header styling is controlled here. This is simply the big "Rory Williams Doyle" bit on the homepage*/
.header {
    color: #FFFFFF;
    text-align: center;
    font-family: "Raleway", "Times New Roman", serif;
    font-size: 3em;
    padding-top: 1em;
    background-color: #ee6e73;
    height: 1.7em;
}

/*The following 3 blocks handle the styling for the PHP contact form.*/

.contact {
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1.5em;
    font-family: "Raleway", "Times New Roman", serif;
    text-align: justify;
}

.contact h2 {
    text-align: center;
}

.contact h1 {
    text-align: center;
}

/*This block specifically handles the sizing of the message box in the PHP contact form.*/
textarea{
    width: 100%;
    height: 200px;
}

/*This block handles the custom error style for error messages.*/
.error {
    margin-top: 5em;
    text-align: center;
    font-size:2em;
}

/*Sets the margin of the whole page body to 0.*/
body {
    margin: 0;
}

/*These 3 blocks handle the styling of the "About Me" section on the page.*/
.bio {
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1.5em;
    font-family: "Raleway", "Times New Roman", serif;
    font-weight: 500;
    text-align: justify;
}

.bio h2 {
    text-align: center;
}

.bio h1 {
    text-align: center;
}
