.error {
    margin-top: 5em;
    font-size:2em;
    text-align: center;
}

.navBar a {
    color: #FFFFFF;
    text-decoration: none;
    float: right;
    margin-right: 1em;
}

.navBar a:hover {
    color: #000000;
}

body {
    margin: 0;
}

h1 {
    margin-left: 0.7em;
}

.welcome {
    padding-top: 1em;
    margin-top: 0.625em;
    margin-left: 0.9375em;
    margin-right: 0.9375em;
    font-size: 1.5em;
    font-family: "Times New Roman", serif;
    font-weight: 500;
    text-align: justify;
}

.bio {
    margin-top: 0.625em;
    margin-left: 0.9375em;
    margin-right: 0.9375em;
    font-size: 1.5em;
    font-family: "Times New Roman", serif;
    font-weight: 500;
    text-align: justify;
}

.contact {
    display: inline-block;
    margin-top: 0.625em;
    margin-left: 0.9375em;
    margin-right: 0.9375em;
    font-size: 1.5em;
    font-family: "Times New Roman", serif;
    font-weight: 500;
    text-align: justify;
}

.social {
    float: right;
    display: inline-block;
    margin-top: 0.625em;
    margin-left: 0.9375em;
    margin-right: 0.9375em;
    font-size: 1.5em;
    font-family: "Times New Roman", serif;
    font-weight: 500;
    text-align: justify;
}

/*This block is for the header size on screens of width 536px and up.*/
@media all and (min-width: 536px){
    .header {
        text-align: center;
        font-size: 1.875em;
        font-family: "Times New Roman", serif;
    }
}

/*This block is for the header size on screens of width below 536px.*/
@media not all and (min-width: 536px){
    .header {
        text-align: center;
        font-size: 1em;
        font-family: "Times New Roman", serif;
    }
}

/*This block determines the general style of the page for screens of size 768x450 and up.*/
@media all and (min-width: 768px) and (min-height: 450px){
    textarea{
        width: 450px;
        height: 300px;
    }

    h2{
        font-size: 1.5em;
        margin: .75em 0;
    }
    video {
        height: 28.125em;
        width: 45.625em;
        margin-right: 0.9375em;
        margin-left: 1.25em;
        margin-top: 0.625em;
        float: right;
    }

    .navBar {
        color: #FFFFFF;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 2em;
        padding-top: 1em;
        background-color: #ee6e73;
        height: 1.7em;
    }

}

/*This block determines the general style of the page for screens less than the size 768x450.*/
@media not all and (min-width: 768px) and (min-height: 450px){
    textarea{
        width: 300px;
        height: 150px;
    }

    h2{
        font-size: 1em;
        margin: .75em 0;
    }

    video {
        height: 15em;
        width: 18em;
        margin-right: 0.9375em;
        margin-left: 1.25em;
        margin-top: 0.625em;
        float: right;
    }

    .navBar {
        background-color: #ee6e73;
        height: 3em;
    }

}