.navBar {
    background-color: #ee6e73;
    height: 4.6875em;
}

body {
    margin: 0;
}

.lButton {
    margin-top: 1.25em;
    margin-left: 0.9375em;
    float: left;
    color: #FFFFFF;
    text-align: center;
    border: none;
    background-color: #ee6e73;
    font-size: 1.5625em;
    font-family: "Courier New", "Times New Roman", serif;
}

.lButton:hover {
    color: #000000;
}

.rButton {
    margin-top: 1.25em;
    margin-right: 0.9375em;
    float: right;
    color: #FFFFFF;
    text-align: center;
    border: none;
    background-color: #ee6e73;
    font-size: 1.5625em;
    font-family: "Courier New", "Times New Roman", serif;
}

.rButton:hover {
    color: #000000;
}

.header {
    text-align: center;
    font-size: 1.875em;
    font-family: "Courier New", "Times New Roman", serif;
}

.video {
    margin-right: 0.9375em;
    margin-left: 1.25em;
    margin-top: 0.625em;
    float: right;
}

.welcome {
    padding-top: 1em;
    margin-top: 0.625em;
    margin-left: 0.9375em;
    margin-right: 0.9375em;
    font-size: 1.5em;
    font-family: "Courier New", "Times New Roman", serif;
    font-weight: 500;
    text-align: justify;
}

.bio {
    margin-top: 0.625em;
    margin-left: 0.9375em;
    margin-right: 0.9375em;
    font-size: 1.5em;
    font-family: "Courier New", "Times New Roman", serif;
    font-weight: 500;
    text-align: justify;
}

video {
    height: 28.125em;
    width: auto;
}